body {
          /*background-color: rgb(90%, 60%, 0%);*/
          font-family: sans-serif;
          margin-left: 10%;
          font-size: 12px;
        }
h1{
          font-size: 150%;
        }
h2, h3 {
  color: green;
  font-family: serif;
}

#mission {
  line-height: 1.6em;
  border-style: solid;
  border-width: thin;
  border-radius: 20px;
  border-color: brown;
  padding: 1%;
  margin-left: 25%;
  margin-right: 15%;

}

#ceai {
  border-style: dotted;
  border-color: green;

}

.denumire {
  color: red;
}

.produs {
  border-width: medium;
  border-style: solid;
}

.coffee {
  border-color: brown;
}
